<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <script data-require="angular.js@1.4.6" data-semver="1.4.6" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
  <script src="app.js"></script>
  <script src="printMe.js"></script>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <style>body { padding: 10px; }</style>
</head>
<body ng-controller="MainCtrl">

  <button class="pure-button button-xlarge pure-button-primary" ng-click="printTable()">Print Table</button>
  <button class="pure-button pure-button-primary" ng-click="printText()">Print Text</button>
  
</body>
</html>
